body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #958563;
    font-family: 'Courier New';
    flex-direction: column;
}

#calculator {
    background-color: #8b4513;
    border: 8px solid #5d2e0d;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    justify-content: center;
    
}

.screen {
    grid-column: span 4;
    background-color: #90ee90;
    border: 3px solid #2e8b57;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
    min-height: 40px;
    word-wrap: break-word;
    /* border-bottom: inset #1c5233 solid 3px;
    border-top: inset #93f0bb solid 3px;
    border-right:inset  #124327 solid 3px;
    border-left: inset #87ffbb solid 3px ; */
    box-shadow: inset 2px 4px 6 px rgba(0, 0, 0, 0.3), inset -2px -2px 5px rgba(255, 255, 255, 0.2);
    

}

button {
    background-color: #d2b48c;
    border: 3px solid #8b4513;
    border-radius: 5px;
    color: hsl(25, 75%, 21%);
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-right:hsl(25, 75%, 21%) solid 3px ;
    border-bottom:hsl(25, 75%, 21%) solid 3px ;
    border-top:hsl(25, 94%, 79%) solid 3px  ;
    border-left:hsl(25, 91%, 71%) solid 3px ;
}

button:hover {
    background-color: #f4a460;
}

button:active {
    background-color: #cd853f;
}

h1 {
    justify-content: center;
    /* margin-right:4em; */
    color: #5d2e0d;
    font-family: 'Tangerine', serif;
    font-size: 70px;
    text-decoration: underline;
    margin-bottom: 90px;
}